* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input, a, button {
  outline: none; }
  input:hover, a:hover, button:hover {
    outline: none; }
  input:focus, a:focus, button:focus {
    outline: none; }
  input:active, a:active, button:active {
    outline: none; }

body {
  display: block;
  position: relative;
  min-width: 320px;
  min-height: 480px;
  background: #000; }

.main {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/main_bg7.jpg) no-repeat; }

.btn {
  display: block;
  height: 60px;
  border: 0;
  cursor: pointer; }

.btn-white {
  width: 250px;
  background: #fff;
  text-transform: capitalize;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-size: 18px; }
  .btn-white:active {
    -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6); }

.btn-carousel {
  display: inline-block;
  width: 50px;
  height: 150px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden; }
  .btn-carousel span {
    display: block;
    width: 20px;
    height: 150px;
    background: url(../images/sprite.png) no-repeat;
    opacity: 0.6; }
  .btn-carousel:hover {
    background: rgba(0, 0, 0, 0.5); }
    .btn-carousel:hover span {
      opacity: 1; }

.btn-carousel--left {
  float: left;
  margin: 0 0 0 50px; }
  .btn-carousel--left span {
    margin-left: 5px;
    background-position: -3px -175px; }

.btn-carousel--right {
  float: right;
  margin: 0 50px 0 0; }
  .btn-carousel--right span {
    margin-left: 13px;
    background-position: -20px -175px; }

.btn-form {
  width: 300px;
  background: #6f6f6f;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase; }

.btn-img {
  width: 80px;
  height: 80px;
  background: url(../images/sprite.png) no-repeat;
  opacity: 0.7; }
  .btn-img:hover {
    opacity: 1; }

.btn-img--add {
  background-position: -358px -8px; }

.btn-img--del {
  background-position: -190px -97px; }

.btn-img--edit {
  background-position: -270px -8px; }

.btn-download {
  display: none;
  width: 1100px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin: 0 auto; }

.btn-img--exit {
  width: 31px;
  height: 31px;
  background-position: -276px -109px; }
  .btn-img--exit:hover {
    background-position: -316px -109px; }

.menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center; }
  .menu::after {
    content: "";
    display: table;
    clear: both; }
  .menu .menu__logo {
    display: inline-block;
    width: 188px;
    height: 50px;
    background: url(../images/sprite.png) no-repeat;
    background-position: -3px -5px;
    margin: 10px 0 0 50px;
    float: left;
    cursor: pointer; }
    .menu .menu__logo:hover {
      background: url(../images/sprite.png) no-repeat;
      background-position: -3px -63px; }
  .menu .menu__search {
    display: inline-block;
    width: 700px;
    height: 30px;
    margin: 20px 0 0 0;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    overflow: hidden;
    font-size: 0px;
    background: #fff; }
    .menu .menu__search span {
      display: inline-block;
      width: 4%;
      height: 100%;
      background: url(../images/sprite.png) no-repeat;
      background-position: -216px 0px; }
    .menu .menu__search input {
      display: inline-block;
      position: relative;
      top: -15px;
      width: 96%;
      height: 100%;
      border: 0;
      color: #000;
      font-size: 18px;
      text-indent: 5px;
      vertical-align: middle; }
  .menu .menu__auth {
    display: inline-block;
    float: right;
    color: #fff;
    margin: 15px 50px 0 0;
    font-size: 30px;
    text-transform: capitalize; }
    .menu .menu__auth a {
      color: #fff;
      text-decoration: none; }
      .menu .menu__auth a:hover {
        color: #d1d1d1; }

.footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 10px; }
  .footer .footer__copyright {
    display: inline-block;
    color: #fff;
    font-size: 11px; }

.main-page {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 250px 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff; }
  .main-page .main-page__header {
    display: block;
    font-size: 35px;
    font-weight: bold; }
  .main-page .main-page__btn-wrapper {
    display: block;
    width: 250px;
    margin: 0 auto; }
  .main-page .main-page__carousel-btn {
    display: block;
    position: absolute;
    top: 350px;
    width: 100%; }
    .main-page .main-page__carousel-btn::after {
      content: "";
      display: table;
      clear: both; }

.authorization {
  display: none;
  width: 100%;
  height: 100%;
  padding: 150px 0;
  background: rgba(0, 0, 0, 0.6);
  color: #6f6f6f; }
  .authorization .authorization-tab__item {
    display: none; }
  .authorization .authorization-tab__item:first-child {
    display: block; }
  .authorization .authorization-tabs {
    display: block;
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    font-size: 0px; }
  .authorization .authorization-tabs .authorization-tab {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    width: 550px;
    height: 80px;
    background: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 25px 0; }
  .authorization .authorization-tabs .authorization-tabs__contant {
    display: block;
    width: 100%;
    height: 620px;
    background: rgba(255, 255, 255, 0.8); }
  .authorization .authorization-tabs .active {
    background: rgba(255, 255, 255, 0.8); }
  .authorization .authorization-tab__item {
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    text-align: right;
    padding-top: 50px; }
    .authorization .authorization-tab__item input[type=text], .authorization .authorization-tab__item input[type=password] {
      position: relative;
      right: 0;
      width: 500px;
      height: 80px;
      margin: 50px 45px 0 5px;
      -webkit-border-radius: 8px;
              border-radius: 8px;
      border: 0;
      text-indent: 15px;
      font-size: 30px;
      background: rgba(255, 255, 255, 0.8); }
    .authorization .authorization-tab__item label {
      margin: 50px 50px 0 0;
      position: relative;
      left: 0;
      text-transform: capitalize; }
    .authorization .authorization-tab__item .authorization-tab__item__btn-wrapper {
      position: absolute;
      bottom: 25px;
      right: 25px; }

.album {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 100px 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff; }
  .album .album__header {
    display: block;
    width: 1100px;
    height: 20px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer; }
    .album .album__header span {
      display: block;
      position: relative;
      top: 5px;
      margin: 0 auto;
      width: 10px;
      height: 10px;
      border: 10px solid transparent;
      border-top: 10px solid #6f6f6f; }
    .album .album__header:hover span {
      border-top: 10px solid #d1d1d1; }
  .album .album__btn-wrapper {
    display: block;
    width: 1100px;
    background: rgba(0, 0, 0, 0.8);
    margin: 0 auto; }
  .album .album__img-wrapper {
    display: block;
    width: 1100px;
    height: 650px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    font-size: 0;
    overflow-y: auto;
    overflow-x: hidden; }
    .album .album__img-wrapper span {
      display: inline-block;
      width: 33.333%;
      height: 206px;
      background: rgba(0, 0, 0, 0.3);
      cursor: pointer; }
      .album .album__img-wrapper span img {
        max-width: 100%;
        max-height: 100%; }
  .album .album__form-wrapper {
    display: none; }

.slider {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 45px 0;
  background: #303030;
  color: #fff;
  overflow: hidden; }
  .slider .slider__carousel-btn {
    display: block;
    position: absolute;
    top: 320px;
    width: 100%; }
    .slider .slider__carousel-btn::after {
      content: "";
      display: table;
      clear: both; }
  .slider .slider__carousel {
    display: block;
    position: relative;
    width: 80%;
    height: 100%;
    background: #303030;
    margin: 0 auto; }
    .slider .slider__carousel .slider__carousel__img-wrapper {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0 auto; }
      .slider .slider__carousel .slider__carousel__img-wrapper img {
        display: none;
        max-width: 100%;
        max-height: 100%; }
      .slider .slider__carousel .slider__carousel__img-wrapper .visible-img {
        display: block; }
    .slider .slider__carousel .slider__carousel__info {
      display: none;
      position: absolute;
      bottom: 3px;
      left: 50%;
      width: 80%;
      height: 80px;
      margin-left: -40%;
      background: rgba(0, 0, 0, 0.8);
      color: #fff; }
    .slider .slider__carousel:hover .slider__carousel__info {
      display: block; }
  .slider .slider__btn-wrapper {
    position: absolute;
    top: 20px;
    right: 20px; }
