@import vars

*
	box-sizing: border-box
	behavior: url(../libs/PIE/PIE.htc)

input, a, button
	outline: none
	&:hover
		outline: none
	&:focus
		outline: none
	&:active
		outline: none

body
	display: block
	position: relative
	min-width: 320px
	min-height: 480px
	background: $black

.main
	display: block
	width: 100%
	height: 100%
	background: url(../images/main_bg7.jpg) no-repeat

.btn
	display: block
	height: 60px
	border: 0
	cursor: pointer
	&:active
		box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6)
		behavior: url(libs/PIE/PIE.htc)

.btn-white
	width: 250px
	background: $white
	text-transform: capitalize
	border-radius: 8px
	font-size: 18px

.btn-carousel
	display: inline-block
	width: 50px
	height: 150px
	background: rgba(0, 0, 0, 0.3)
	border-radius: 5px
	overflow: hidden
	behavior: url(libs/PIE/PIE.htc)
	span
		display: block
		width: 20px
		height: 150px
		background: url(../images/sprite.png) no-repeat
		opacity: 0.6
	&:hover
		background: rgba(0, 0, 0, 0.5)
		behavior: url(libs/PIE/PIE.htc)
		span
			opacity: 1

.btn-carousel--left
	float: left
	margin: 0 0 0 50px
	span
		margin-left: 5px
		background-position: -3px -175px

.btn-carousel--right
	float: right
	margin: 0 50px 0 0
	span
		margin-left: 13px
		background-position: -20px -175px

.btn-form
	width: 300px
	background: $dark-grey
	color: $white
	letter-spacing: 1px
	font-weight: bold
	text-transform: uppercase

.btn-img
	width: 80px
	height: 80px
	background: url(../images/sprite.png) no-repeat
	opacity: 0.7
	behavior: url(libs/PIE/PIE.htc)
	&:hover
		opacity: 1

.btn-img--add
	background-position: -358px -8px

.btn-img--del
	background-position: -190px -97px

.btn-img--edit
	background-position: -270px -8px

.btn-download
	display: none
	width: 1100px
	height: 40px
	background: rgba(0, 0, 0, 0.8)
	color: $white
	margin: 0 auto
	behavior: url(libs/PIE/PIE.htc)

.btn-img--exit
	width: 31px
	height: 31px
	background-position: -276px -109px
	&:hover
		background-position: -316px -109px

.btn-img--like
	width: 23px
	height: 23px
	background-position: -365px -114px
	&:hover
		background-position: -403px -114px
.btn-ok
	width: 210px
	height: 40px
	margin-right: 15px
	background: $dark-green
	color: $white
	&:hover
		background: $hover-dark-green

.btn-cancel
	width: 210px
	height: 40px
	background: $dark-red
	color: $white
	&:hover
		background: $hover-dark-red

.menu
	display: block
	position: fixed
	top: 0
	left: 0
	right: 0
	width: 100%
	height: 70px
	background: rgba(0, 0, 0, 0.6)
	text-align: center
	z-index: 10
	behavior: url(libs/PIE/PIE.htc)
	&::after
		content: ""
		display: table
		clear: both
	.menu__logo
		display: inline-block
		width: 188px
		height: 50px
		background: url(../images/sprite.png) no-repeat
		background-position: -3px -5px
		margin: 10px 0 0 50px
		float: left
		cursor: pointer
		&:hover
			background: url(../images/sprite.png) no-repeat
			background-position: -3px -63px
	.menu__search
		display: inline-block
		width: 700px
		height: 30px
		margin: 20px 0 0 0
		border-radius: 8px
		overflow: hidden
		font-size: 0px
		background: $white
		behavior: url(libs/PIE/PIE.htc)
		span
			display: inline-block
			width: 4%
			height: 100%
			background: url(../images/sprite.png) no-repeat
			background-position: -216px 0px
		input
			display: inline-block
			position: relative
			top: -15px
			width: 96%
			height: 100%
			border: 0
			color: $black
			font-size: 18px
			text-indent: 5px
			vertical-align: middle
	.menu__auth
		display: inline-block
		float: right
		color: $white
		margin: 15px 50px 0 0
		font-size: 30px
		text-transform: capitalize
		a
			color: $white
			text-decoration: none
			&:hover
				color: $grey
	.menu__logout
		display: none
		float: right
		color: $white
		margin: 15px 50px 0 0
		font-size: 30px
		text-transform: capitalize
		p
			display: inline-block
			padding: 0
			margin: 0
			text-transform: none
		a
			color: $white
			text-decoration: none
			&:hover
				color: $grey

.footer
	display: block
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 50px
	background: rgba(0, 0, 0, 0.9)
	text-align: center
	padding: 10px
	z-index: 10
	behavior: url(libs/PIE/PIE.htc)
	.footer__copyright
		display: inline-block
		color: $white
		font-size: 11px

.main-page
	display: none
	width: 100%
	height: 100%
	text-align: center
	padding: 250px 0
	background: rgba(0, 0, 0, 0.6)
	color: $white	
	behavior: url(libs/PIE/PIE.htc)	
	.main-page__header
		display: block		
		font-size: 35px
		font-weight: bold
	.main-page__btn-wrapper
		display: block
		width: 250px
		margin: 0 auto
	.main-page__carousel-btn
		display: block
		position: absolute
		top: 350px
		width: 100%
		&::after
			content: ""
			display: table
			clear: both

.authorization
	display: none
	width: 100%
	height: 100%
	padding: 150px 0
	background: rgba(0, 0, 0, 0.6)
	color: $dark-grey
	behavior: url(libs/PIE/PIE.htc)
	.authorization-tab__item
		display: none
	.authorization-tab__item:first-child
		display: block
	.authorization-tabs
		display: block
		width: 1100px
		height: 700px
		margin: 0 auto
		font-size: 0px
	.authorization-tabs .authorization-tab
		display: inline-block
		text-transform: uppercase
		cursor: pointer
		width: 550px
		height: 80px
		background: rgba(255, 255, 255, 0.6)
		font-size: 30px
		font-weight: bold
		text-align: center
		letter-spacing: 1px
		padding: 25px 0
		behavior: url(libs/PIE/PIE.htc)
	.authorization-tabs .authorization-tabs__contant
		display: block
		width: 100%
		height: 620px
		background: rgba(255, 255, 255, 0.8)
		behavior: url(libs/PIE/PIE.htc)
	.authorization-tabs .active
		background: rgba(255, 255, 255, 0.8)
		behavior: url(libs/PIE/PIE.htc)
	.authorization-tab__item
		height: 100%
		font-size: 25px
		font-weight: bold
		position: relative
		text-align: right
		padding-top: 50px
		input[type=text], input[type=password]
			position: relative
			right: 0
			width: 500px
			height: 80px
			margin: 50px 45px 0 5px
			border-radius: 8px
			border: 0
			text-indent: 15px
			font-size: 30px
			background: rgba(255, 255, 255, 0.8)
			behavior: url(libs/PIE/PIE.htc)
		label
			margin: 50px 50px 0 0
			position: relative
			left: 0
			text-transform: capitalize
		.authorization-tab__item__btn-wrapper
			position: absolute
			bottom: 25px
			right: 25px

.album
	display: block
	position: relative
	width: 100%
	height: 100%
	text-align: center
	padding: 100px 0
	background: rgba(0, 0, 0, 0.8)
	color: $white
	z-index: 5
	behavior: url(libs/PIE/PIE.htc)
	.album__header
		display: block
		width: 1100px
		height: 20px
		margin: 0 auto
		background: rgba(0, 0, 0, 0.6)
		cursor: pointer
		behavior: url(libs/PIE/PIE.htc)
		span
			display: block
			position: relative
			top: 5px
			margin: 0 auto
			width: 10px
			height: 10px
			border: 10px solid transparent
			border-top: 10px solid $dark-grey
		&:hover
			span
				border-top: 10px solid $grey
	.album__btn-wrapper
		display: block
		width: 1100px
		background: rgba(0, 0, 0, 0.8)
		margin: 0 auto
		behavior: url(libs/PIE/PIE.htc)
	.album__img-wrapper
		display: block
		width: 1100px
		height: 650px
		margin: 0 auto
		background: rgba(0, 0, 0, 0.6)
		font-size: 0
		overflow-y: auto
		overflow-x: hidden
		behavior: url(libs/PIE/PIE.htc)
		span
			display: inline-block
			width: 33.333%
			height: 206px
			background: rgba(0, 0, 0, 0.3)
			cursor: pointer
			behavior: url(libs/PIE/PIE.htc)
			img
				max-width: 100%
				max-height: 100%
	.album__form-wrapper
		display: none
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.9)
		behavior: url(libs/PIE/PIE.htc)
		.album__download-form
			display: block
			position: relative
			top: 30%
			width: 500px
			height: 100px
			margin: 0 auto
			padding: 35px 20px
			overflow: hidden
			text-align: center
			background: #666
			.album__download-form__close
				display: block
				position: absolute
				top: 5px
				right: 10px
				color: #333
				cursor: pointer
				&:hover
					color: red
	.album__priview-img
		display: none
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.9)
		behavior: url(libs/PIE/PIE.htc)
		.album__priview-img__wrapper
			display: block
			position: relative
			top: 30%
			width: 500px
			height: 370px
			margin: 0 auto
			padding: 30px
			overflow: hidden
			text-align: center
			background: rgba(255, 255, 255, 0.6)
			behavior: url(libs/PIE/PIE.htc)
			.album__priview-img__close
				display: block
				position: absolute
				top: 5px
				right: 10px
				color: #333
				cursor: pointer
				&:hover
					color: red
			.album__priview-img__img-wrapper
				display: block
				width: 440px
				height: 250px
				img
					max-width: 100%
					max-height: 100%
			.album__priview-img__input-wrapper
				display: block
				width: 440px
				height: 80px
				overflow: hidden
				margin-top: -3px
				input
					width: 100%
					height: 30px
					border: 0
					margin-bottom: 10px
					text-indent: 15px
					font-size: 16px
					font-weight: bold
					outline: none
				button
					display: inline-block

.slider
	display: none
	width: 100%
	height: 100%
	text-align: center
	padding: 45px 0
	background: #303030
	color: $white
	overflow: hidden
	.slider__carousel-btn
		display: block
		position: absolute
		top: 320px
		width: 100%
		&::after
			content: ""
			display: table
			clear: both
	.slider__carousel
		display: block
		position: relative
		width: 80%
		height: 100%
		background: #303030
		margin: 0 auto
		.slider__carousel__img-wrapper
			display: block
			width: 100%
			height: 100%
			overflow: hidden
			margin: 0 auto
			img
				display: none
				max-width: 100%
				max-height: 100%
				margin: 0 auto
			.visible-img
				display: block		
		.slider__carousel__info
			display: none
			position: absolute
			bottom: 3px
			left: 50%
			width: 80%			
			height: 50px
			margin-left: -40%
			background: rgba(0, 0, 0, 0.8)
			color: $white
			padding: 15px 50px
			behavior: url(libs/PIE/PIE.htc)
			.slider__carousel__info__image-name
				display: inline-block
				font-size: 15px
				font-weight: bold
				float: left
			.slider__carousel__info__btn-wrapper
				display: inline-block
				float: right
				button
					display: inline-block
				label
					display: inline-block
					font-size: 12px
					position: relative
					top: -3px
			&::after
				content: ""
				display: table
				clear: both
		&:hover
			.slider__carousel__info
				display: block
	.slider__btn-wrapper
		position: absolute
		top: 20px
		right: 20px
